* {
  margin: 0;
  padding: 0;
}

h1 {
  opacity: 0;
}
header {
  text-align: center;
  background-color: rgb(255, 242, 0);
}
header img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  padding: 10px;
  margin: 14px;
  margin-top: -2%;
}
nav {
  font-size: 18pt;
}
nav a {
  padding-left: 215px;
  font-family: "";
  color: white !important;
}
nav b {
  font-family: "Patua One";
  color: rgb(8, 0, 0) !important;
}

footer .card-header {
  background-color: burlywood;
  color: darkred;
  text-align: center;
  font-size: 20pt;
}
footer .card-body {
  background-color: rgb(60, 126, 146);
  color: rgb(212, 247, 14);
  text-align: center;
}
div img {
  background-color: burlywood;
}
